openapi: 3.2.0
info:
  title: EPCOR Public Outage and Service Area Feature Services (ArcGIS REST) Water Outages API
  version: '12'
  summary: Anonymous, machine-readable read access to EPCOR's live power outage, water outage, water infrastructure project and service area feature layers.
  description: 'EPCOR publishes no OpenAPI, no developer portal and no API documentation. It does, however, operate a public ArcGIS Online organization (`services6.arcgis.com/Ji2rusuWXDFSqNsP`, owner `epcor_outages`) whose production feature services are shared publicly and are readable anonymously over the ArcGIS REST GeoServices interface. Those services back the EPCOR outage map at https://outages.epcor.com/ and cover Edmonton power outages, Canadian water outages and main breaks, water infrastructure projects, and the outage and service area layers for EPCOR Water''s US districts in Arizona and New Mexico.


    THIS DOCUMENT IS DERIVED, NOT PUBLISHED BY EPCOR. Every path, layer, field name and field type below was read from the live ArcGIS service and layer metadata documents on 2026-07-27; the query parameter set is the standard Esri ArcGIS REST `query` operation contract. No endpoint, field or value has been invented. Editing capabilities advertised by some services (Create/Update/Delete) are NOT modelled here: only anonymous read was probed, and write access requires an ArcGIS token.


    Data is operational, near real time and unversioned. EPCOR publishes no licence, no terms of use for this surface, no rate limit and no support channel for it.'
  contact:
    name: EPCOR
    url: https://www.epcor.com/ca/en/ab/edmonton/contact-edmonton.html
  x-apievangelist:
    method: derived
    generated: '2026-07-27'
    derived_from:
    - https://services6.arcgis.com/Ji2rusuWXDFSqNsP/ArcGIS/rest/services?f=json
    - ArcGIS feature service and layer metadata documents for every *_prod service in the folder
    - https://outages.epcor.com/assets/config.json
    note: Derived by the API Evangelist enrichment pipeline from live, anonymously readable ArcGIS REST metadata. EPCOR does not publish this specification.
servers:
- url: https://services6.arcgis.com/Ji2rusuWXDFSqNsP/ArcGIS/rest/services
  description: EPCOR public ArcGIS Online feature service folder (hosted by Esri ArcGIS Online).
security: []
tags:
- name: water-outages
  description: Canadian water outages, main breaks and field events.
paths:
  /EPCor_Water_Outages_Prod/FeatureServer:
    get:
      operationId: getEPCorWaterOutagesProdService
      summary: Get EPCor_Water_Outages_Prod service metadata
      description: 'EPCOR water outage / main break points. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /EPCor_Water_Outages_Prod/FeatureServer/0:
    get:
      operationId: getEPCorWaterOutagesProdLayer
      summary: Get EPCor_Water_Outages_Prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `EPCor_Water_Outages_Prod` layer.
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /EPCor_Water_Outages_Prod/FeatureServer/0/query:
    get:
      operationId: queryEPCorWaterOutagesProd
      summary: Query EPCor_Water_Outages_Prod
      description: 'EPCOR water outage / main break points. Query the `EPCor_Water_Outages_Prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 16.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/EPCorWaterOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /GenericWaterEvents_Prod/FeatureServer:
    get:
      operationId: getGenericWaterEventsProdService
      summary: Get GenericWaterEvents_Prod service metadata
      description: 'Generic water events (points and areas). Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /GenericWaterEvents_Prod/FeatureServer/0:
    get:
      operationId: getGenericWaterEventsProdL0Layer
      summary: Get GenericWaterEvents_Prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `Generic_Events_Pt` layer.
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /GenericWaterEvents_Prod/FeatureServer/0/query:
    get:
      operationId: queryGenericWaterEventsProdL0
      summary: Query Generic_Events_Pt
      description: 'Generic water events (points and areas). Query the `Generic_Events_Pt` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 2.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/GenericWaterEventsProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /GenericWaterEvents_Prod/FeatureServer/1:
    get:
      operationId: getGenericWaterEventsProdL1Layer
      summary: Get GenericWaterEvents_Prod layer 1 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `Generic_Events_Area` layer.
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /GenericWaterEvents_Prod/FeatureServer/1/query:
    get:
      operationId: queryGenericWaterEventsProdL1
      summary: Query Generic_Events_Area
      description: 'Generic water events (points and areas). Query the `Generic_Events_Area` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 1.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/GenericWaterEventsProdL1FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /UDF_Events_Prod/FeatureServer:
    get:
      operationId: getUDFEventsProdService
      summary: Get UDF_Events_Prod service metadata
      description: 'Utility disruption / field event records (points and areas). Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /UDF_Events_Prod/FeatureServer/0:
    get:
      operationId: getUDFEventsProdL0Layer
      summary: Get UDF_Events_Prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `UDF_Events_Pt` layer.
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /UDF_Events_Prod/FeatureServer/0/query:
    get:
      operationId: queryUDFEventsProdL0
      summary: Query UDF_Events_Pt
      description: 'Utility disruption / field event records (points and areas). Query the `UDF_Events_Pt` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 24.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UDFEventsProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /UDF_Events_Prod/FeatureServer/1:
    get:
      operationId: getUDFEventsProdL1Layer
      summary: Get UDF_Events_Prod layer 1 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `UDF_Events_area` layer.
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /UDF_Events_Prod/FeatureServer/1/query:
    get:
      operationId: queryUDFEventsProdL1
      summary: Query UDF_Events_area
      description: 'Utility disruption / field event records (points and areas). Query the `UDF_Events_area` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 24.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UDFEventsProdL1FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /water_canada_outages_prod/FeatureServer:
    get:
      operationId: getWaterCanadaOutagesProdService
      summary: Get water_canada_outages_prod service metadata
      description: 'Canadian water outage / main break points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /water_canada_outages_prod/FeatureServer/0:
    get:
      operationId: getWaterCanadaOutagesProdLayer
      summary: Get water_canada_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `water_canada_outages-prod` layer.
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /water_canada_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryWaterCanadaOutagesProd
      summary: Query water_canada_outages-prod
      description: 'Canadian water outage / main break points. Query the `water_canada_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 24.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/WaterCanadaOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
components:
  schemas:
    SpatialReference:
      type: object
      properties:
        wkid:
          type: integer
        latestWkid:
          type: integer
    LayerMetadata:
      type: object
      description: 'ArcGIS feature layer metadata document: field definitions, geometry type, extent, capabilities and edit timestamps.'
      properties:
        currentVersion:
          type: number
        id:
          type: integer
        name:
          type: string
        type:
          type: string
        geometryType:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        extent:
          type: object
        editingInfo:
          type: object
        maxRecordCount:
          type: integer
    UDFEventsProdL1FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `UDF_Events_area` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UDFEventsProdL1Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    GenericWaterEventsProdL1FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `Generic_Events_Area` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/GenericWaterEventsProdL1Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    WaterCanadaOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `water_canada_outages-prod` layer (water_canada_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        MainbreakI:
          type: string
          maxLength: 10
          x-esri-field-type: esriFieldTypeString
        Cause:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        Restoratio:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        Status:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
      examples:
      - FID: 1
        MainbreakI: MB4575
        Cause: Water Main Break
        ReportDate: Jan-30  7:34 PM
        Restoratio: null
        Status: Water main break has been repaired. Awaiting surface restoration. If you’re experiencing a water outage, please report it to 780-412-4500.
        Details: Road restoration is carried out by a 3rd party and may take up to 6 weeks to complete.
        EstimateRe: Customers are NOT out of Water
    GenericWaterEventsProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `Generic_Events_Pt` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/GenericWaterEventsProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    GeoJSONFeatureCollection:
      type: object
      description: RFC 7946 FeatureCollection returned when `f=geojson`.
      properties:
        type:
          type: string
          const: FeatureCollection
        properties:
          type: object
          properties:
            exceededTransferLimit:
              type: boolean
        features:
          type: array
          items:
            type: object
    GenericWaterEventsProdL1Attributes:
      type: object
      description: Attributes of a feature in the `Generic_Events_Area` layer (GenericWaterEvents_Prod, layer 1). Geometry type esriGeometryPolygon.
      properties:
        OBJECTID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        Event:
          type: string
          maxLength: 256
          x-esri-field-type: esriFieldTypeString
        Location:
          type: string
          maxLength: 256
          x-esri-field-type: esriFieldTypeString
        EventType:
          type: string
          maxLength: 256
          description: Event Type
          x-esri-field-type: esriFieldTypeString
        CreatedBy:
          type: string
          maxLength: 256
          description: 'Created By:'
          x-esri-field-type: esriFieldTypeString
        Description:
          type: string
          maxLength: 256
          x-esri-field-type: esriFieldTypeString
        ApproximateStartDate:
          type: integer
          maxLength: 8
          description: Approximate Start Date Epoch milliseconds (Esri date field).
          x-esri-field-type: esriFieldTypeDate
        ApproximateEndDate:
          type: integer
          maxLength: 8
          description: Approximate End Date Epoch milliseconds (Esri date field).
          x-esri-field-type: esriFieldTypeDate
        Shape__Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape__Length:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    GenericWaterEventsProdL0Attributes:
      type: object
      description: Attributes of a feature in the `Generic_Events_Pt` layer (GenericWaterEvents_Prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        OBJECTID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        Event:
          type: string
          maxLength: 256
          x-esri-field-type: esriFieldTypeString
        Location:
          type: string
          maxLength: 256
          x-esri-field-type: esriFieldTypeString
        EventType:
          type: string
          maxLength: 256
          description: Event Type
          x-esri-field-type: esriFieldTypeString
        CreatedBy:
          type: string
          maxLength: 256
          description: 'Created By:'
          x-esri-field-type: esriFieldTypeString
        Description:
          type: string
          maxLength: 256
          x-esri-field-type: esriFieldTypeString
        ApproximateStartDate:
          type: integer
          maxLength: 8
          description: Approximate Start Date Epoch milliseconds (Esri date field).
          x-esri-field-type: esriFieldTypeDate
        ApproximateEndDate:
          type: integer
          maxLength: 8
          description: Approximate End Date Epoch milliseconds (Esri date field).
          x-esri-field-type: esriFieldTypeDate
    FieldDefinition:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          description: Esri field type, for example `esriFieldTypeString`.
        alias:
          type: string
        sqlType:
          type: string
        length:
          type: integer
    UDFEventsProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `UDF_Events_Pt` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UDFEventsProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    WaterCanadaOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `water_canada_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/WaterCanadaOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    EsriError:
      type: object
      description: ArcGIS REST error envelope. Note that these services return HTTP 200 with this body rather than a 4xx status code.
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              description: Esri error code.
            message:
              type: string
              description: Short error message; may be an empty string.
            details:
              type: array
              items:
                type: string
              description: Human readable detail strings.
          required:
          - code
      required:
      - error
      examples:
      - error:
          code: 400
          message: Cannot perform query. Invalid query parameters.
          details:
          - '''where'' parameter is invalid'
    UDFEventsProdL0Attributes:
      type: object
      description: Attributes of a feature in the `UDF_Events_Pt` layer (UDF_Events_Prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        OBJECTID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        UDFID:
          type: string
          maxLength: 50
          description: UDF Area
          x-esri-field-type: esriFieldTypeString
        MSLINK:
          type: integer
          description: MSLink
          x-esri-field-type: esriFieldTypeInteger
        URL:
          type: string
          maxLength: 400
          x-esri-field-type: esriFieldTypeString
        SCHD_START:
          type: integer
          maxLength: 8
          description: Approximate Start Date Epoch milliseconds (Esri date field).
          x-esri-field-type: esriFieldTypeDate
        SCHD_END:
          type: integer
          maxLength: 8
          description: Approximate End Date Epoch milliseconds (Esri date field).
          x-esri-field-type: esriFieldTypeDate
    EPCorWaterOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `EPCor_Water_Outages_Prod` layer (EPCor_Water_Outages_Prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        MainbreakI:
          type: string
          maxLength: 10
          x-esri-field-type: esriFieldTypeString
        Cause:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        Restoratio:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        Status:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        TankLocati:
          type: string
          maxLength: 256
          description: Tank Location
          x-esri-field-type: esriFieldTypeString
    ServiceMetadata:
      type: object
      description: ArcGIS feature service metadata document.
      properties:
        currentVersion:
          type: number
        serviceItemId:
          type: string
        capabilities:
          type: string
          description: Comma separated capability list advertised by the service. Only `Query` is exercisable anonymously; editing capabilities require an ArcGIS token.
        maxRecordCount:
          type: integer
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        layers:
          type: array
          items:
            type: object
    UDFEventsProdL1Attributes:
      type: object
      description: Attributes of a feature in the `UDF_Events_area` layer (UDF_Events_Prod, layer 1). Geometry type esriGeometryPolygon.
      properties:
        OBJECTID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        UDFID:
          type: string
          maxLength: 50
          description: UDF Area
          x-esri-field-type: esriFieldTypeString
        MSLINK:
          type: integer
          x-esri-field-type: esriFieldTypeInteger
        URL:
          type: string
          maxLength: 400
          x-esri-field-type: esriFieldTypeString
        SCHD_START:
          type: integer
          maxLength: 8
          description: Approximate Start Date Epoch milliseconds (Esri date field).
          x-esri-field-type: esriFieldTypeDate
        SCHD_END:
          type: integer
          maxLength: 8
          description: Approximate End Date Epoch milliseconds (Esri date field).
          x-esri-field-type: esriFieldTypeDate
        Shape__Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape__Length:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    EPCorWaterOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `EPCor_Water_Outages_Prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/EPCorWaterOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
  parameters:
    returnCountOnly:
      name: returnCountOnly
      in: query
      required: false
      description: Return only the count of matching features instead of the features themselves.
      schema:
        type: boolean
        default: false
    outFields:
      name: outFields
      in: query
      required: false
      description: Comma separated list of attribute fields to return, or `*` for all fields.
      schema:
        type: string
      example: '*'
    orderByFields:
      name: orderByFields
      in: query
      required: false
      description: Comma separated `field ASC|DESC` list used to order the result set.
      schema:
        type: string
    resultOffset:
      name: resultOffset
      in: query
      required: false
      description: Zero based offset into the ordered result set; the cursor half of ArcGIS paging.
      schema:
        type: integer
        minimum: 0
    inSR:
      name: inSR
      in: query
      required: false
      description: Spatial reference (WKID) of the input `geometry`.
      schema:
        type: string
    returnGeometry:
      name: returnGeometry
      in: query
      required: false
      description: Whether the feature geometry is included in the response.
      schema:
        type: boolean
        default: true
    spatialRel:
      name: spatialRel
      in: query
      required: false
      description: Spatial relationship applied between the `geometry` filter and the layer features.
      schema:
        type: string
        default: esriSpatialRelIntersects
    where:
      name: where
      in: query
      required: false
      description: SQL-92 WHERE clause applied to the layer attributes. Use `1=1` to select all features.
      schema:
        type: string
      example: 1=1
    returnIdsOnly:
      name: returnIdsOnly
      in: query
      required: false
      description: Return only the object IDs of matching features.
      schema:
        type: boolean
        default: false
    geometryType:
      name: geometryType
      in: query
      required: false
      description: Type of the `geometry` filter.
      schema:
        type: string
        enum:
        - esriGeometryPoint
        - esriGeometryMultipoint
        - esriGeometryPolyline
        - esriGeometryPolygon
        - esriGeometryEnvelope
    f:
      name: f
      in: query
      required: false
      description: Response format. `json` returns the Esri FeatureSet envelope, `geojson` returns RFC 7946 GeoJSON, `pbf` returns protocol buffers, `html` returns the human service directory.
      schema:
        type: string
        enum:
        - json
        - geojson
        - pbf
        - html
        default: html
    geometry:
      name: geometry
      in: query
      required: false
      description: Geometry used to spatially filter the query, in the format implied by `geometryType`.
      schema:
        type: string
    outSR:
      name: outSR
      in: query
      required: false
      description: Spatial reference (WKID) requested for the returned geometry, for example `4326`.
      schema:
        type: string
    resultRecordCount:
      name: resultRecordCount
      in: query
      required: false
      description: Maximum number of features to return in this page, capped by the service `maxRecordCount` (2000 on these services).
      schema:
        type: integer
        minimum: 1
        maximum: 2000
