openapi: 3.2.0
info:
  title: EPCOR Public Outage and Service Area Feature Services (ArcGIS REST) Service Areas API
  version: '12'
  summary: Anonymous, machine-readable read access to EPCOR's live power outage, water outage, water infrastructure project and service area feature layers.
  description: 'EPCOR publishes no OpenAPI, no developer portal and no API documentation. It does, however, operate a public ArcGIS Online organization (`services6.arcgis.com/Ji2rusuWXDFSqNsP`, owner `epcor_outages`) whose production feature services are shared publicly and are readable anonymously over the ArcGIS REST GeoServices interface. Those services back the EPCOR outage map at https://outages.epcor.com/ and cover Edmonton power outages, Canadian water outages and main breaks, water infrastructure projects, and the outage and service area layers for EPCOR Water''s US districts in Arizona and New Mexico.


    THIS DOCUMENT IS DERIVED, NOT PUBLISHED BY EPCOR. Every path, layer, field name and field type below was read from the live ArcGIS service and layer metadata documents on 2026-07-27; the query parameter set is the standard Esri ArcGIS REST `query` operation contract. No endpoint, field or value has been invented. Editing capabilities advertised by some services (Create/Update/Delete) are NOT modelled here: only anonymous read was probed, and write access requires an ArcGIS token.


    Data is operational, near real time and unversioned. EPCOR publishes no licence, no terms of use for this surface, no rate limit and no support channel for it.'
  contact:
    name: EPCOR
    url: https://www.epcor.com/ca/en/ab/edmonton/contact-edmonton.html
  x-apievangelist:
    method: derived
    generated: '2026-07-27'
    derived_from:
    - https://services6.arcgis.com/Ji2rusuWXDFSqNsP/ArcGIS/rest/services?f=json
    - ArcGIS feature service and layer metadata documents for every *_prod service in the folder
    - https://outages.epcor.com/assets/config.json
    note: Derived by the API Evangelist enrichment pipeline from live, anonymously readable ArcGIS REST metadata. EPCOR does not publish this specification.
servers:
- url: https://services6.arcgis.com/Ji2rusuWXDFSqNsP/ArcGIS/rest/services
  description: EPCOR public ArcGIS Online feature service folder (hosted by Esri ArcGIS Online).
security: []
tags:
- name: service-areas
  description: EPCOR Water USA service area boundaries.
paths:
  /ServiceAreas_AguaFria_prod/FeatureServer:
    get:
      operationId: getServiceAreasAguaFriaProdService
      summary: Get ServiceAreas_AguaFria_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_AguaFria_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasAguaFriaProdLayer
      summary: Get ServiceAreas_AguaFria_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_AguaFria_prod` layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_AguaFria_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasAguaFriaProd
      summary: Query ServiceAreas_AguaFria_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_AguaFria_prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 2.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasAguaFriaProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Anthem_prod/FeatureServer:
    get:
      operationId: getServiceAreasAnthemProdService
      summary: Get ServiceAreas_Anthem_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Anthem_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasAnthemProdLayer
      summary: Get ServiceAreas_Anthem_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Anthem_prod` layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Anthem_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasAnthemProd
      summary: Query ServiceAreas_Anthem_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Anthem_prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 1.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasAnthemProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Chaparral_prod/FeatureServer:
    get:
      operationId: getServiceAreasChaparralProdService
      summary: Get ServiceAreas_Chaparral_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Chaparral_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasChaparralProdLayer
      summary: Get ServiceAreas_Chaparral_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Chaparral_prod` layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Chaparral_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasChaparralProd
      summary: Query ServiceAreas_Chaparral_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Chaparral_prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 1.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasChaparralProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Clovis_prod/FeatureServer:
    get:
      operationId: getServiceAreasClovisProdService
      summary: Get ServiceAreas_Clovis_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Clovis_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasClovisProdLayer
      summary: Get ServiceAreas_Clovis_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Clovis_prod` layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Clovis_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasClovisProd
      summary: Query ServiceAreas_Clovis_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Clovis_prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 1.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasClovisProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Edgewood_prod/FeatureServer:
    get:
      operationId: getServiceAreasEdgewoodProdService
      summary: Get ServiceAreas_Edgewood_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Edgewood_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasEdgewoodProdLayer
      summary: Get ServiceAreas_Edgewood_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Edgewood_prod` layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Edgewood_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasEdgewoodProd
      summary: Query ServiceAreas_Edgewood_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Edgewood_prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 1.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasEdgewoodProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Havasu_prod/FeatureServer:
    get:
      operationId: getServiceAreasHavasuProdService
      summary: Get ServiceAreas_Havasu_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Havasu_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasHavasuProdLayer
      summary: Get ServiceAreas_Havasu_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Havasu_prod` layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Havasu_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasHavasuProd
      summary: Query ServiceAreas_Havasu_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Havasu_prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 1.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasHavasuProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Mohave_prod/FeatureServer:
    get:
      operationId: getServiceAreasMohaveProdService
      summary: Get ServiceAreas_Mohave_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Mohave_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasMohaveProdLayer
      summary: Get ServiceAreas_Mohave_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Mohave_prod` layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Mohave_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasMohaveProd
      summary: Query ServiceAreas_Mohave_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Mohave_prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 6.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasMohaveProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_NorthMohaveValley_prod/FeatureServer:
    get:
      operationId: getServiceAreasNorthMohaveValleyProdService
      summary: Get ServiceAreas_NorthMohaveValley_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_NorthMohaveValley_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasNorthMohaveValleyProdLayer
      summary: Get ServiceAreas_NorthMohaveValley_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_NorthMohaveValley_prod` layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_NorthMohaveValley_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasNorthMohaveValleyProd
      summary: Query ServiceAreas_NorthMohaveValley_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_NorthMohaveValley_prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 5.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasNorthMohaveValleyProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_ParadiseValley_prod/FeatureServer:
    get:
      operationId: getServiceAreasParadiseValleyProdService
      summary: Get ServiceAreas_ParadiseValley_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_ParadiseValley_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasParadiseValleyProdLayer
      summary: Get ServiceAreas_ParadiseValley_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_ParadiseValley_prod` layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_ParadiseValley_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasParadiseValleyProd
      summary: Query ServiceAreas_ParadiseValley_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_ParadiseValley_prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 1.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasParadiseValleyProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_SunCity_prod/FeatureServer:
    get:
      operationId: getServiceAreasSunCityProdService
      summary: Get ServiceAreas_SunCity_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_SunCity_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasSunCityProdLayer
      summary: Get ServiceAreas_SunCity_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_SunCity_prod` layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_SunCity_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasSunCityProd
      summary: Query ServiceAreas_SunCity_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_SunCity_prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 2.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasSunCityProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_SunCityWest_prod/FeatureServer:
    get:
      operationId: getServiceAreasSunCityWestProdService
      summary: Get ServiceAreas_SunCityWest_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_SunCityWest_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasSunCityWestProdLayer
      summary: Get ServiceAreas_SunCityWest_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_SunCityWest_prod` layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_SunCityWest_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasSunCityWestProd
      summary: Query ServiceAreas_SunCityWest_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_SunCityWest_prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 1.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasSunCityWestProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_ThunderMountain_prod/FeatureServer:
    get:
      operationId: getServiceAreasThunderMountainProdService
      summary: Get ServiceAreas_ThunderMountain_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_ThunderMountain_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasThunderMountainProdLayer
      summary: Get ServiceAreas_ThunderMountain_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_ThunderMountain_prod` layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_ThunderMountain_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasThunderMountainProd
      summary: Query ServiceAreas_ThunderMountain_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_ThunderMountain_prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 2.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasThunderMountainProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Tubac_prod/FeatureServer:
    get:
      operationId: getServiceAreasTubacProdService
      summary: Get ServiceAreas_Tubac_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Tubac_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasTubacProdLayer
      summary: Get ServiceAreas_Tubac_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Tubac_prod` layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Tubac_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasTubacProd
      summary: Query ServiceAreas_Tubac_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Tubac_prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 1.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasTubacProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
components:
  schemas:
    SpatialReference:
      type: object
      properties:
        wkid:
          type: integer
        latestWkid:
          type: integer
    ServiceAreasSunCityProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `ServiceAreas_SunCity_prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/ServiceAreasSunCityProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    ServiceAreasClovisProdL0Attributes:
      type: object
      description: Attributes of a feature in the `ServiceAreas_Clovis_prod` layer (ServiceAreas_Clovis_prod, layer 0). Geometry type esriGeometryPolygon.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        OBJECTID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        ServiceAre:
          type: string
          maxLength: 30
          x-esri-field-type: esriFieldTypeString
        District:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        State:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Shape_Leng:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape_Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    ServiceAreasHavasuProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `ServiceAreas_Havasu_prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/ServiceAreasHavasuProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    LayerMetadata:
      type: object
      description: 'ArcGIS feature layer metadata document: field definitions, geometry type, extent, capabilities and edit timestamps.'
      properties:
        currentVersion:
          type: number
        id:
          type: integer
        name:
          type: string
        type:
          type: string
        geometryType:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        extent:
          type: object
        editingInfo:
          type: object
        maxRecordCount:
          type: integer
    ServiceAreasParadiseValleyProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `ServiceAreas_ParadiseValley_prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/ServiceAreasParadiseValleyProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    ServiceAreasThunderMountainProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `ServiceAreas_ThunderMountain_prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/ServiceAreasThunderMountainProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    ServiceAreasEdgewoodProdL0Attributes:
      type: object
      description: Attributes of a feature in the `ServiceAreas_Edgewood_prod` layer (ServiceAreas_Edgewood_prod, layer 0). Geometry type esriGeometryPolygon.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        OBJECTID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        ServiceAre:
          type: string
          maxLength: 30
          x-esri-field-type: esriFieldTypeString
        District:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        State:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Shape_Leng:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape_Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    ServiceAreasChaparralProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `ServiceAreas_Chaparral_prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/ServiceAreasChaparralProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    ServiceAreasClovisProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `ServiceAreas_Clovis_prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/ServiceAreasClovisProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    ServiceAreasTubacProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `ServiceAreas_Tubac_prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/ServiceAreasTubacProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    ServiceAreasNorthMohaveValleyProdL0Attributes:
      type: object
      description: Attributes of a feature in the `ServiceAreas_NorthMohaveValley_prod` layer (ServiceAreas_NorthMohaveValley_prod, layer 0). Geometry type esriGeometryPolygon.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        OBJECTID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        ServiceAre:
          type: string
          maxLength: 30
          x-esri-field-type: esriFieldTypeString
        District:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        State:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Shape_Leng:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape_Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    ServiceAreasAnthemProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `ServiceAreas_Anthem_prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/ServiceAreasAnthemProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    GeoJSONFeatureCollection:
      type: object
      description: RFC 7946 FeatureCollection returned when `f=geojson`.
      properties:
        type:
          type: string
          const: FeatureCollection
        properties:
          type: object
          properties:
            exceededTransferLimit:
              type: boolean
        features:
          type: array
          items:
            type: object
    ServiceAreasAguaFriaProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `ServiceAreas_AguaFria_prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/ServiceAreasAguaFriaProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    ServiceAreasMohaveProdL0Attributes:
      type: object
      description: Attributes of a feature in the `ServiceAreas_Mohave_prod` layer (ServiceAreas_Mohave_prod, layer 0). Geometry type esriGeometryPolygon.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        OBJECTID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        ServiceAre:
          type: string
          maxLength: 30
          x-esri-field-type: esriFieldTypeString
        District:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        State:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Shape_Leng:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape_Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    ServiceAreasSunCityProdL0Attributes:
      type: object
      description: Attributes of a feature in the `ServiceAreas_SunCity_prod` layer (ServiceAreas_SunCity_prod, layer 0). Geometry type esriGeometryPolygon.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        OBJECTID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        ServiceAre:
          type: string
          maxLength: 30
          x-esri-field-type: esriFieldTypeString
        District:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        State:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Shape_Leng:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape_Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    ServiceAreasChaparralProdL0Attributes:
      type: object
      description: Attributes of a feature in the `ServiceAreas_Chaparral_prod` layer (ServiceAreas_Chaparral_prod, layer 0). Geometry type esriGeometryPolygon.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        OBJECTID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        ServiceAre:
          type: string
          maxLength: 30
          x-esri-field-type: esriFieldTypeString
        District:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        State:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Shape_Leng:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape_Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    FieldDefinition:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          description: Esri field type, for example `esriFieldTypeString`.
        alias:
          type: string
        sqlType:
          type: string
        length:
          type: integer
    ServiceAreasTubacProdL0Attributes:
      type: object
      description: Attributes of a feature in the `ServiceAreas_Tubac_prod` layer (ServiceAreas_Tubac_prod, layer 0). Geometry type esriGeometryPolygon.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        OBJECTID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        ServiceAre:
          type: string
          maxLength: 30
          x-esri-field-type: esriFieldTypeString
        District:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        State:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Shape_Leng:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape_Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    ServiceAreasSunCityWestProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `ServiceAreas_SunCityWest_prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/ServiceAreasSunCityWestProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    EsriError:
      type: object
      description: ArcGIS REST error envelope. Note that these services return HTTP 200 with this body rather than a 4xx status code.
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              description: Esri error code.
            message:
              type: string
              description: Short error message; may be an empty string.
            details:
              type: array
              items:
                type: string
              description: Human readable detail strings.
          required:
          - code
      required:
      - error
      examples:
      - error:
          code: 400
          message: Cannot perform query. Invalid query parameters.
          details:
          - '''where'' parameter is invalid'
    ServiceAreasMohaveProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `ServiceAreas_Mohave_prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/ServiceAreasMohaveProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    ServiceAreasEdgewoodProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `ServiceAreas_Edgewood_prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/ServiceAreasEdgewoodProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    ServiceAreasThunderMountainProdL0Attributes:
      type: object
      description: Attributes of a feature in the `ServiceAreas_ThunderMountain_prod` layer (ServiceAreas_ThunderMountain_prod, layer 0). Geometry type esriGeometryPolygon.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        OBJECTID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        ServiceAre:
          type: string
          maxLength: 30
          x-esri-field-type: esriFieldTypeString
        District:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        State:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Shape_Leng:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape_Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    ServiceAreasSunCityWestProdL0Attributes:
      type: object
      description: Attributes of a feature in the `ServiceAreas_SunCityWest_prod` layer (ServiceAreas_SunCityWest_prod, layer 0). Geometry type esriGeometryPolygon.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        OBJECTID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        ServiceAre:
          type: string
          maxLength: 30
          x-esri-field-type: esriFieldTypeString
        District:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        State:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Shape_Leng:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape_Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    ServiceAreasNorthMohaveValleyProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `ServiceAreas_NorthMohaveValley_prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/ServiceAreasNorthMohaveValleyProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    ServiceMetadata:
      type: object
      description: ArcGIS feature service metadata document.
      properties:
        currentVersion:
          type: number
        serviceItemId:
          type: string
        capabilities:
          type: string
          description: Comma separated capability list advertised by the service. Only `Query` is exercisable anonymously; editing capabilities require an ArcGIS token.
        maxRecordCount:
          type: integer
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        layers:
          type: array
          items:
            type: object
    ServiceAreasAnthemProdL0Attributes:
      type: object
      description: Attributes of a feature in the `ServiceAreas_Anthem_prod` layer (ServiceAreas_Anthem_prod, layer 0). Geometry type esriGeometryPolygon.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        OBJECTID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        ServiceAre:
          type: string
          maxLength: 30
          x-esri-field-type: esriFieldTypeString
        District:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        State:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Shape_Leng:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape_Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    ServiceAreasAguaFriaProdL0Attributes:
      type: object
      description: Attributes of a feature in the `ServiceAreas_AguaFria_prod` layer (ServiceAreas_AguaFria_prod, layer 0). Geometry type esriGeometryPolygon.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        OBJECTID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        ServiceAre:
          type: string
          maxLength: 30
          x-esri-field-type: esriFieldTypeString
        District:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        State:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Shape_Leng:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape_Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    ServiceAreasParadiseValleyProdL0Attributes:
      type: object
      description: Attributes of a feature in the `ServiceAreas_ParadiseValley_prod` layer (ServiceAreas_ParadiseValley_prod, layer 0). Geometry type esriGeometryPolygon.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        OBJECTID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        ServiceAre:
          type: string
          maxLength: 30
          x-esri-field-type: esriFieldTypeString
        District:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        State:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Shape_Leng:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape_Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
    ServiceAreasHavasuProdL0Attributes:
      type: object
      description: Attributes of a feature in the `ServiceAreas_Havasu_prod` layer (ServiceAreas_Havasu_prod, layer 0). Geometry type esriGeometryPolygon.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        OBJECTID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        ServiceAre:
          type: string
          maxLength: 30
          x-esri-field-type: esriFieldTypeString
        District:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        State:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Shape_Leng:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Shape_Area:
          type: number
          x-esri-field-type: esriFieldTypeDouble
  parameters:
    outFields:
      name: outFields
      in: query
      required: false
      description: Comma separated list of attribute fields to return, or `*` for all fields.
      schema:
        type: string
      example: '*'
    returnCountOnly:
      name: returnCountOnly
      in: query
      required: false
      description: Return only the count of matching features instead of the features themselves.
      schema:
        type: boolean
        default: false
    orderByFields:
      name: orderByFields
      in: query
      required: false
      description: Comma separated `field ASC|DESC` list used to order the result set.
      schema:
        type: string
    resultOffset:
      name: resultOffset
      in: query
      required: false
      description: Zero based offset into the ordered result set; the cursor half of ArcGIS paging.
      schema:
        type: integer
        minimum: 0
    inSR:
      name: inSR
      in: query
      required: false
      description: Spatial reference (WKID) of the input `geometry`.
      schema:
        type: string
    returnGeometry:
      name: returnGeometry
      in: query
      required: false
      description: Whether the feature geometry is included in the response.
      schema:
        type: boolean
        default: true
    spatialRel:
      name: spatialRel
      in: query
      required: false
      description: Spatial relationship applied between the `geometry` filter and the layer features.
      schema:
        type: string
        default: esriSpatialRelIntersects
    where:
      name: where
      in: query
      required: false
      description: SQL-92 WHERE clause applied to the layer attributes. Use `1=1` to select all features.
      schema:
        type: string
      example: 1=1
    returnIdsOnly:
      name: returnIdsOnly
      in: query
      required: false
      description: Return only the object IDs of matching features.
      schema:
        type: boolean
        default: false
    geometryType:
      name: geometryType
      in: query
      required: false
      description: Type of the `geometry` filter.
      schema:
        type: string
        enum:
        - esriGeometryPoint
        - esriGeometryMultipoint
        - esriGeometryPolyline
        - esriGeometryPolygon
        - esriGeometryEnvelope
    f:
      name: f
      in: query
      required: false
      description: Response format. `json` returns the Esri FeatureSet envelope, `geojson` returns RFC 7946 GeoJSON, `pbf` returns protocol buffers, `html` returns the human service directory.
      schema:
        type: string
        enum:
        - json
        - geojson
        - pbf
        - html
        default: html
    geometry:
      name: geometry
      in: query
      required: false
      description: Geometry used to spatially filter the query, in the format implied by `geometryType`.
      schema:
        type: string
    outSR:
      name: outSR
      in: query
      required: false
      description: Spatial reference (WKID) requested for the returned geometry, for example `4326`.
      schema:
        type: string
    resultRecordCount:
      name: resultRecordCount
      in: query
      required: false
      description: Maximum number of features to return in this page, capped by the service `maxRecordCount` (2000 on these services).
      schema:
        type: integer
        minimum: 1
        maximum: 2000
