openapi: 3.2.0
info:
  title: EPCOR Public Outage and Service Area Feature Services (ArcGIS REST) Us Water Outages API
  version: '12'
  summary: Anonymous, machine-readable read access to EPCOR's live power outage, water outage, water infrastructure project and service area feature layers.
  description: 'EPCOR publishes no OpenAPI, no developer portal and no API documentation. It does, however, operate a public ArcGIS Online organization (`services6.arcgis.com/Ji2rusuWXDFSqNsP`, owner `epcor_outages`) whose production feature services are shared publicly and are readable anonymously over the ArcGIS REST GeoServices interface. Those services back the EPCOR outage map at https://outages.epcor.com/ and cover Edmonton power outages, Canadian water outages and main breaks, water infrastructure projects, and the outage and service area layers for EPCOR Water''s US districts in Arizona and New Mexico.


    THIS DOCUMENT IS DERIVED, NOT PUBLISHED BY EPCOR. Every path, layer, field name and field type below was read from the live ArcGIS service and layer metadata documents on 2026-07-27; the query parameter set is the standard Esri ArcGIS REST `query` operation contract. No endpoint, field or value has been invented. Editing capabilities advertised by some services (Create/Update/Delete) are NOT modelled here: only anonymous read was probed, and write access requires an ArcGIS token.


    Data is operational, near real time and unversioned. EPCOR publishes no licence, no terms of use for this surface, no rate limit and no support channel for it.'
  contact:
    name: EPCOR
    url: https://www.epcor.com/ca/en/ab/edmonton/contact-edmonton.html
  x-apievangelist:
    method: derived
    generated: '2026-07-27'
    derived_from:
    - https://services6.arcgis.com/Ji2rusuWXDFSqNsP/ArcGIS/rest/services?f=json
    - ArcGIS feature service and layer metadata documents for every *_prod service in the folder
    - https://outages.epcor.com/assets/config.json
    note: Derived by the API Evangelist enrichment pipeline from live, anonymously readable ArcGIS REST metadata. EPCOR does not publish this specification.
servers:
- url: https://services6.arcgis.com/Ji2rusuWXDFSqNsP/ArcGIS/rest/services
  description: EPCOR public ArcGIS Online feature service folder (hosted by Esri ArcGIS Online).
security: []
tags:
- name: us-water-outages
  description: EPCOR Water USA district outage points (Arizona and New Mexico).
paths:
  /usa_agua_fria_outages_prod/FeatureServer:
    get:
      operationId: getUsaAguaFriaOutagesProdService
      summary: Get usa_agua_fria_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_agua_fria_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaAguaFriaOutagesProdLayer
      summary: Get usa_agua_fria_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_agua_fria_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_agua_fria_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaAguaFriaOutagesProd
      summary: Query usa_agua_fria_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_agua_fria_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaAguaFriaOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_anthem_outages_prod/FeatureServer:
    get:
      operationId: getUsaAnthemOutagesProdService
      summary: Get usa_anthem_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_anthem_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaAnthemOutagesProdLayer
      summary: Get usa_anthem_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_anthem_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_anthem_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaAnthemOutagesProd
      summary: Query usa_anthem_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_anthem_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaAnthemOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_chaparral_outages_prod/FeatureServer:
    get:
      operationId: getUsaChaparralOutagesProdService
      summary: Get usa_chaparral_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_chaparral_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaChaparralOutagesProdLayer
      summary: Get usa_chaparral_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_chaparral_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_chaparral_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaChaparralOutagesProd
      summary: Query usa_chaparral_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_chaparral_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 1.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaChaparralOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_clovis_outages_prod/FeatureServer:
    get:
      operationId: getUsaClovisOutagesProdService
      summary: Get usa_clovis_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_clovis_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaClovisOutagesProdLayer
      summary: Get usa_clovis_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_clovis_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_clovis_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaClovisOutagesProd
      summary: Query usa_clovis_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_clovis_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaClovisOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_edgewood_outages_prod/FeatureServer:
    get:
      operationId: getUsaEdgewoodOutagesProdService
      summary: Get usa_edgewood_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_edgewood_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaEdgewoodOutagesProdLayer
      summary: Get usa_edgewood_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_edgewood_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_edgewood_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaEdgewoodOutagesProd
      summary: Query usa_edgewood_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_edgewood_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaEdgewoodOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_havasu_outages_prod/FeatureServer:
    get:
      operationId: getUsaHavasuOutagesProdService
      summary: Get usa_havasu_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_havasu_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaHavasuOutagesProdLayer
      summary: Get usa_havasu_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_havasu_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_havasu_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaHavasuOutagesProd
      summary: Query usa_havasu_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_havasu_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaHavasuOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_mohave_outages_prod/FeatureServer:
    get:
      operationId: getUsaMohaveOutagesProdService
      summary: Get usa_mohave_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_mohave_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaMohaveOutagesProdLayer
      summary: Get usa_mohave_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_mohave_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_mohave_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaMohaveOutagesProd
      summary: Query usa_mohave_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_mohave_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaMohaveOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_northmohavevalley_outages_prod/FeatureServer:
    get:
      operationId: getUsaNorthmohavevalleyOutagesProdService
      summary: Get usa_northmohavevalley_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_northmohavevalley_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaNorthmohavevalleyOutagesProdLayer
      summary: Get usa_northmohavevalley_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_northmohavevalley_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_northmohavevalley_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaNorthmohavevalleyOutagesProd
      summary: Query usa_northmohavevalley_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_northmohavevalley_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaNorthmohavevalleyOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_paradisevalley_outages_prod/FeatureServer:
    get:
      operationId: getUsaParadisevalleyOutagesProdService
      summary: Get usa_paradisevalley_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_paradisevalley_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaParadisevalleyOutagesProdLayer
      summary: Get usa_paradisevalley_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_paradisevalley_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_paradisevalley_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaParadisevalleyOutagesProd
      summary: Query usa_paradisevalley_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_paradisevalley_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaParadisevalleyOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_suncity_outages_prod/FeatureServer:
    get:
      operationId: getUsaSuncityOutagesProdService
      summary: Get usa_suncity_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_suncity_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaSuncityOutagesProdLayer
      summary: Get usa_suncity_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_suncity_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_suncity_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaSuncityOutagesProd
      summary: Query usa_suncity_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_suncity_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaSuncityOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_suncitywest_outages_prod/FeatureServer:
    get:
      operationId: getUsaSuncitywestOutagesProdService
      summary: Get usa_suncitywest_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_suncitywest_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaSuncitywestOutagesProdLayer
      summary: Get usa_suncitywest_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_suncitywest_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_suncitywest_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaSuncitywestOutagesProd
      summary: Query usa_suncitywest_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_suncitywest_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaSuncitywestOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_thundermountain_outages_prod/FeatureServer:
    get:
      operationId: getUsaThundermountainOutagesProdService
      summary: Get usa_thundermountain_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_thundermountain_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaThundermountainOutagesProdLayer
      summary: Get usa_thundermountain_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_thundermountain_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_thundermountain_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaThundermountainOutagesProd
      summary: Query usa_thundermountain_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_thundermountain_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaThundermountainOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_tubac_outages_prod/FeatureServer:
    get:
      operationId: getUsaTubacOutagesProdService
      summary: Get usa_tubac_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_tubac_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaTubacOutagesProdLayer
      summary: Get usa_tubac_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_tubac_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_tubac_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaTubacOutagesProd
      summary: Query usa_tubac_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_tubac_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaTubacOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_willowvalley_outages_prod/FeatureServer:
    get:
      operationId: getUsaWillowvalleyOutagesProdService
      summary: Get usa_willowvalley_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_willowvalley_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaWillowvalleyOutagesProdLayer
      summary: Get usa_willowvalley_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_willowvalley_outages-prod` layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_willowvalley_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaWillowvalleyOutagesProd
      summary: Query usa_willowvalley_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_willowvalley_outages-prod` layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaWillowvalleyOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
components:
  schemas:
    SpatialReference:
      type: object
      properties:
        wkid:
          type: integer
        latestWkid:
          type: integer
    UsaAnthemOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_anthem_outages-prod` layer (usa_anthem_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    UsaAguaFriaOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_agua_fria_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaAguaFriaOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    LayerMetadata:
      type: object
      description: 'ArcGIS feature layer metadata document: field definitions, geometry type, extent, capabilities and edit timestamps.'
      properties:
        currentVersion:
          type: number
        id:
          type: integer
        name:
          type: string
        type:
          type: string
        geometryType:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        extent:
          type: object
        editingInfo:
          type: object
        maxRecordCount:
          type: integer
    UsaTubacOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_tubac_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaTubacOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    UsaWillowvalleyOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_willowvalley_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaWillowvalleyOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    UsaParadisevalleyOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_paradisevalley_outages-prod` layer (usa_paradisevalley_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    UsaSuncityOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_suncity_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaSuncityOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    UsaThundermountainOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_thundermountain_outages-prod` layer (usa_thundermountain_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    UsaAguaFriaOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_agua_fria_outages-prod` layer (usa_agua_fria_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    UsaNorthmohavevalleyOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_northmohavevalley_outages-prod` layer (usa_northmohavevalley_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    UsaSuncitywestOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_suncitywest_outages-prod` layer (usa_suncitywest_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    UsaThundermountainOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_thundermountain_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaThundermountainOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    UsaEdgewoodOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_edgewood_outages-prod` layer (usa_edgewood_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    GeoJSONFeatureCollection:
      type: object
      description: RFC 7946 FeatureCollection returned when `f=geojson`.
      properties:
        type:
          type: string
          const: FeatureCollection
        properties:
          type: object
          properties:
            exceededTransferLimit:
              type: boolean
        features:
          type: array
          items:
            type: object
    UsaWillowvalleyOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_willowvalley_outages-prod` layer (usa_willowvalley_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    FieldDefinition:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          description: Esri field type, for example `esriFieldTypeString`.
        alias:
          type: string
        sqlType:
          type: string
        length:
          type: integer
    UsaNorthmohavevalleyOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_northmohavevalley_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaNorthmohavevalleyOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    UsaSuncitywestOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_suncitywest_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaSuncitywestOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    UsaTubacOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_tubac_outages-prod` layer (usa_tubac_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    UsaClovisOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_clovis_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaClovisOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    UsaClovisOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_clovis_outages-prod` layer (usa_clovis_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    UsaMohaveOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_mohave_outages-prod` layer (usa_mohave_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    EsriError:
      type: object
      description: ArcGIS REST error envelope. Note that these services return HTTP 200 with this body rather than a 4xx status code.
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              description: Esri error code.
            message:
              type: string
              description: Short error message; may be an empty string.
            details:
              type: array
              items:
                type: string
              description: Human readable detail strings.
          required:
          - code
      required:
      - error
      examples:
      - error:
          code: 400
          message: Cannot perform query. Invalid query parameters.
          details:
          - '''where'' parameter is invalid'
    UsaParadisevalleyOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_paradisevalley_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaParadisevalleyOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    UsaHavasuOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_havasu_outages-prod` layer (usa_havasu_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    UsaChaparralOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_chaparral_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaChaparralOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    UsaSuncityOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_suncity_outages-prod` layer (usa_suncity_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    UsaMohaveOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_mohave_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaMohaveOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    ServiceMetadata:
      type: object
      description: ArcGIS feature service metadata document.
      properties:
        currentVersion:
          type: number
        serviceItemId:
          type: string
        capabilities:
          type: string
          description: Comma separated capability list advertised by the service. Only `Query` is exercisable anonymously; editing capabilities require an ArcGIS token.
        maxRecordCount:
          type: integer
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        layers:
          type: array
          items:
            type: object
    UsaHavasuOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_havasu_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaHavasuOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    UsaAnthemOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_anthem_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaAnthemOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
    UsaChaparralOutagesProdL0Attributes:
      type: object
      description: Attributes of a feature in the `usa_chaparral_outages-prod` layer (usa_chaparral_outages_prod, layer 0). Geometry type esriGeometryPoint.
      properties:
        FID:
          type: integer
          description: Object ID; the unique, service maintained identifier.
          x-esri-field-type: esriFieldTypeOID
        ID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        FaultID:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CommunityN:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ConditionI:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        Planned:
          type: string
          maxLength: 1
          x-esri-field-type: esriFieldTypeString
        ApproxArea:
          type: string
          maxLength: 250
          x-esri-field-type: esriFieldTypeString
        ReportDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EstimateRe:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ActualRest:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        Details:
          type: string
          maxLength: 254
          x-esri-field-type: esriFieldTypeString
        MapX:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        MapY:
          type: number
          x-esri-field-type: esriFieldTypeDouble
        CreatedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        CreatedDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        EditedBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        EditedDate:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        PublishBy:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
        PublishDat:
          type: string
          maxLength: 20
          x-esri-field-type: esriFieldTypeString
        ConditionN:
          type: string
          maxLength: 50
          x-esri-field-type: esriFieldTypeString
    UsaEdgewoodOutagesProdL0FeatureSet:
      type: object
      description: Esri FeatureSet returned by a query against the `usa_edgewood_outages-prod` layer.
      properties:
        objectIdFieldName:
          type: string
        globalIdFieldName:
          type: string
        geometryType:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        exceededTransferLimit:
          type: boolean
          description: True when more features match than were returned; page with `resultOffset`.
        features:
          type: array
          items:
            type: object
            properties:
              attributes:
                $ref: '#/components/schemas/UsaEdgewoodOutagesProdL0Attributes'
              geometry:
                type: object
                description: Feature geometry, omitted when `returnGeometry=false`.
  parameters:
    outFields:
      name: outFields
      in: query
      required: false
      description: Comma separated list of attribute fields to return, or `*` for all fields.
      schema:
        type: string
      example: '*'
    returnCountOnly:
      name: returnCountOnly
      in: query
      required: false
      description: Return only the count of matching features instead of the features themselves.
      schema:
        type: boolean
        default: false
    orderByFields:
      name: orderByFields
      in: query
      required: false
      description: Comma separated `field ASC|DESC` list used to order the result set.
      schema:
        type: string
    resultOffset:
      name: resultOffset
      in: query
      required: false
      description: Zero based offset into the ordered result set; the cursor half of ArcGIS paging.
      schema:
        type: integer
        minimum: 0
    inSR:
      name: inSR
      in: query
      required: false
      description: Spatial reference (WKID) of the input `geometry`.
      schema:
        type: string
    returnGeometry:
      name: returnGeometry
      in: query
      required: false
      description: Whether the feature geometry is included in the response.
      schema:
        type: boolean
        default: true
    spatialRel:
      name: spatialRel
      in: query
      required: false
      description: Spatial relationship applied between the `geometry` filter and the layer features.
      schema:
        type: string
        default: esriSpatialRelIntersects
    where:
      name: where
      in: query
      required: false
      description: SQL-92 WHERE clause applied to the layer attributes. Use `1=1` to select all features.
      schema:
        type: string
      example: 1=1
    returnIdsOnly:
      name: returnIdsOnly
      in: query
      required: false
      description: Return only the object IDs of matching features.
      schema:
        type: boolean
        default: false
    geometryType:
      name: geometryType
      in: query
      required: false
      description: Type of the `geometry` filter.
      schema:
        type: string
        enum:
        - esriGeometryPoint
        - esriGeometryMultipoint
        - esriGeometryPolyline
        - esriGeometryPolygon
        - esriGeometryEnvelope
    f:
      name: f
      in: query
[...]
