openapi: 3.2.0
info:
  title: EPCOR Public Outage and Service Area Feature Services…
  version: '12'
  summary: Anonymous, machine-readable read access to EPCOR's live power outage, water outage, water infrastructure project and service area feature layers.
  description: EPCOR publishes no OpenAPI, no developer portal and no API documentation.
  contact:
    name: EPCOR
    url: https://www.epcor.com/ca/en/ab/edmonton/contact-edmonton.html
  x-apievangelist:
    method: derived
    generated: '2026-07-27'
    derived_from:
    - https://services6.arcgis.com/Ji2rusuWXDFSqNsP/ArcGIS/rest/services?f=json
    - ArcGIS feature service and layer metadata documents for every *_prod service in the folder
    - https://outages.epcor.com/assets/config.json
    note: Derived by the API Evangelist enrichment pipeline from live, anonymously readable ArcGIS REST metadata. EPCOR does not publish this specification.
servers:
- url: https://services6.arcgis.com/Ji2rusuWXDFSqNsP/ArcGIS/rest/services
  description: EPCOR public ArcGIS Online feature service folder (hosted by Esri ArcGIS Online).
security: []
tags:
- name: Catalog
  description: Service directory.
paths:
  /:
    get:
      operationId: listFeatureServices
      summary: List the EPCOR feature services
      description: 'Returns the ArcGIS service directory for EPCOR''s public ArcGIS Online organization folder: every published FeatureServer, its type and its URL. Anonymous, no key required.'
      tags:
      - Catalog
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Service directory listing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCatalog'
components:
  schemas:
    ServiceCatalog:
      type: object
      description: Service directory listing for the EPCOR ArcGIS Online organization folder.
      properties:
        currentVersion:
          type: number
        services:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              url:
                type: string
                format: uri
  parameters:
    f:
      name: f
      in: query
      required: false
      description: Response format. `json` returns the Esri FeatureSet envelope, `geojson` returns RFC 7946 GeoJSON, `pbf` returns protocol buffers, `html` returns the human service directory.
      schema:
        type: string
        enum:
        - json
        - geojson
        - pbf
        - html
        default: html
