openapi: 3.1.0
info:
  title: EPCOR Public Outage and Service Area Feature Services (ArcGIS REST)
  version: '12'
  summary: Anonymous, machine-readable read access to EPCOR's live power outage, water outage, water infrastructure
    project and service area feature layers.
  description: 'EPCOR publishes no OpenAPI, no developer portal and no API documentation. It does, however, operate
    a public ArcGIS Online organization (`services6.arcgis.com/Ji2rusuWXDFSqNsP`, owner `epcor_outages`) whose production
    feature services are shared publicly and are readable anonymously over the ArcGIS REST GeoServices interface.
    Those services back the EPCOR outage map at https://outages.epcor.com/ and cover Edmonton power outages, Canadian
    water outages and main breaks, water infrastructure projects, and the outage and service area layers for EPCOR
    Water''s US districts in Arizona and New Mexico.


    THIS DOCUMENT IS DERIVED, NOT PUBLISHED BY EPCOR. Every path, layer, field name and field type below was read
    from the live ArcGIS service and layer metadata documents on 2026-07-27; the query parameter set is the standard
    Esri ArcGIS REST `query` operation contract. No endpoint, field or value has been invented. Editing capabilities
    advertised by some services (Create/Update/Delete) are NOT modelled here: only anonymous read was probed, and
    write access requires an ArcGIS token.


    Data is operational, near real time and unversioned. EPCOR publishes no licence, no terms of use for this surface,
    no rate limit and no support channel for it.'
  contact:
    name: EPCOR
    url: https://www.epcor.com/ca/en/ab/edmonton/contact-edmonton.html
  x-apievangelist:
    method: derived
    generated: '2026-07-27'
    derived_from:
    - https://services6.arcgis.com/Ji2rusuWXDFSqNsP/ArcGIS/rest/services?f=json
    - ArcGIS feature service and layer metadata documents for every *_prod service in the folder
    - https://outages.epcor.com/assets/config.json
    note: Derived by the API Evangelist enrichment pipeline from live, anonymously readable ArcGIS REST metadata.
      EPCOR does not publish this specification.
servers:
- url: https://services6.arcgis.com/Ji2rusuWXDFSqNsP/ArcGIS/rest/services
  description: EPCOR public ArcGIS Online feature service folder (hosted by Esri ArcGIS Online).
tags:
- name: catalog
  description: Service directory.
- name: power-outages
  description: Edmonton electricity distribution outages (active, planned and point features).
- name: water-outages
  description: Canadian water outages, main breaks and field events.
- name: us-water-outages
  description: EPCOR Water USA district outage points (Arizona and New Mexico).
- name: service-areas
  description: EPCOR Water USA service area boundaries.
- name: infrastructure
  description: Water infrastructure construction projects.
- name: boundaries
  description: Municipal boundary reference layers.
security: []
paths:
  /:
    get:
      operationId: listFeatureServices
      summary: List the EPCOR feature services
      description: 'Returns the ArcGIS service directory for EPCOR''s public ArcGIS Online organization folder:
        every published FeatureServer, its type and its URL. Anonymous, no key required.'
      tags:
      - catalog
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Service directory listing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCatalog'
  /CityBoundary_prod/FeatureServer:
    get:
      operationId: getCityBoundaryProdService
      summary: Get CityBoundary_prod service metadata
      description: 'City of Edmonton boundary. Returns the ArcGIS feature service metadata document: layers, capabilities
        (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - boundaries
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /CityBoundary_prod/FeatureServer/0:
    get:
      operationId: getCityBoundaryProdLayer
      summary: Get CityBoundary_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolyline), extent and edit timestamps for the `CityBoundary_prod`
        layer.
      tags:
      - boundaries
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /CityBoundary_prod/FeatureServer/0/query:
    get:
      operationId: queryCityBoundaryProd
      summary: Query CityBoundary_prod
      description: 'City of Edmonton boundary. Query the `CityBoundary_prod` layer with a SQL `where` clause and
        optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 1.'
      tags:
      - boundaries
      parameters: &id001
      - $ref: '#/components/parameters/f'
      - $ref: '#/components/parameters/where'
      - $ref: '#/components/parameters/outFields'
      - $ref: '#/components/parameters/returnGeometry'
      - $ref: '#/components/parameters/returnCountOnly'
      - $ref: '#/components/parameters/returnIdsOnly'
      - $ref: '#/components/parameters/orderByFields'
      - $ref: '#/components/parameters/resultOffset'
      - $ref: '#/components/parameters/resultRecordCount'
      - $ref: '#/components/parameters/geometry'
      - $ref: '#/components/parameters/geometryType'
      - $ref: '#/components/parameters/spatialRel'
      - $ref: '#/components/parameters/inSR'
      - $ref: '#/components/parameters/outSR'
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/CityBoundaryProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /EPCor_Water_Outages_Prod/FeatureServer:
    get:
      operationId: getEPCorWaterOutagesProdService
      summary: Get EPCor_Water_Outages_Prod service metadata
      description: 'EPCOR water outage / main break points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /EPCor_Water_Outages_Prod/FeatureServer/0:
    get:
      operationId: getEPCorWaterOutagesProdLayer
      summary: Get EPCor_Water_Outages_Prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `EPCor_Water_Outages_Prod`
        layer.
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /EPCor_Water_Outages_Prod/FeatureServer/0/query:
    get:
      operationId: queryEPCorWaterOutagesProd
      summary: Query EPCor_Water_Outages_Prod
      description: 'EPCOR water outage / main break points. Query the `EPCor_Water_Outages_Prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 16.'
      tags:
      - water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/EPCorWaterOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /GenericWaterEvents_Prod/FeatureServer:
    get:
      operationId: getGenericWaterEventsProdService
      summary: Get GenericWaterEvents_Prod service metadata
      description: 'Generic water events (points and areas). Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /GenericWaterEvents_Prod/FeatureServer/0:
    get:
      operationId: getGenericWaterEventsProdL0Layer
      summary: Get GenericWaterEvents_Prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `Generic_Events_Pt`
        layer.
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /GenericWaterEvents_Prod/FeatureServer/0/query:
    get:
      operationId: queryGenericWaterEventsProdL0
      summary: Query Generic_Events_Pt
      description: 'Generic water events (points and areas). Query the `Generic_Events_Pt` layer with a SQL `where`
        clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time:
        2.'
      tags:
      - water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/GenericWaterEventsProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /GenericWaterEvents_Prod/FeatureServer/1:
    get:
      operationId: getGenericWaterEventsProdL1Layer
      summary: Get GenericWaterEvents_Prod layer 1 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `Generic_Events_Area`
        layer.
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /GenericWaterEvents_Prod/FeatureServer/1/query:
    get:
      operationId: queryGenericWaterEventsProdL1
      summary: Query Generic_Events_Area
      description: 'Generic water events (points and areas). Query the `Generic_Events_Area` layer with a SQL `where`
        clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time:
        1.'
      tags:
      - water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/GenericWaterEventsProdL1FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ocps_prod_av/FeatureServer:
    get:
      operationId: getOcpsProdAvService
      summary: Get ocps_prod_av service metadata
      description: 'Edmonton active power outage areas (Outage Coordination and Publishing System). Returns the
        ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing,Extract,ChangeTracking),
        maxRecordCount (2000) and spatial reference.'
      tags:
      - power-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ocps_prod_av/FeatureServer/0:
    get:
      operationId: getOcpsProdAvLayer
      summary: Get ocps_prod_av layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ocps_prod_av`
        layer.
      tags:
      - power-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ocps_prod_av/FeatureServer/0/query:
    get:
      operationId: queryOcpsProdAv
      summary: Query ocps_prod_av
      description: 'Edmonton active power outage areas (Outage Coordination and Publishing System). Query the `ocps_prod_av`
        layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature
        count at harvest time: 5.'
      tags:
      - power-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/OcpsProdAvL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ocps_prod_pl/FeatureServer:
    get:
      operationId: getOcpsProdPlService
      summary: Get ocps_prod_pl service metadata
      description: 'Edmonton planned power outage areas (Outage Coordination and Publishing System). Returns the
        ArcGIS feature service metadata document: layers, capabilities (Create,Delete,Query,Update,Editing,Extract,ChangeTracking),
        maxRecordCount (2000) and spatial reference.'
      tags:
      - power-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ocps_prod_pl/FeatureServer/0:
    get:
      operationId: getOcpsProdPlLayer
      summary: Get ocps_prod_pl layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ocps_prod_pl`
        layer.
      tags:
      - power-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ocps_prod_pl/FeatureServer/0/query:
    get:
      operationId: queryOcpsProdPl
      summary: Query ocps_prod_pl
      description: 'Edmonton planned power outage areas (Outage Coordination and Publishing System). Query the `ocps_prod_pl`
        layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature
        count at harvest time: 0.'
      tags:
      - power-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/OcpsProdPlL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /power_outage_prod/FeatureServer:
    get:
      operationId: getPowerOutageProdService
      summary: Get power_outage_prod service metadata
      description: 'Edmonton power outage points. Returns the ArcGIS feature service metadata document: layers,
        capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - power-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /power_outage_prod/FeatureServer/0:
    get:
      operationId: getPowerOutageProdLayer
      summary: Get power_outage_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `power_outage-prod`
        layer.
      tags:
      - power-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /power_outage_prod/FeatureServer/0/query:
    get:
      operationId: queryPowerOutageProd
      summary: Query power_outage-prod
      description: 'Edmonton power outage points. Query the `power_outage-prod` layer with a SQL `where` clause
        and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest time: 0.'
      tags:
      - power-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PowerOutageProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_AguaFria_prod/FeatureServer:
    get:
      operationId: getServiceAreasAguaFriaProdService
      summary: Get ServiceAreas_AguaFria_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_AguaFria_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasAguaFriaProdLayer
      summary: Get ServiceAreas_AguaFria_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_AguaFria_prod`
        layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_AguaFria_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasAguaFriaProd
      summary: Query ServiceAreas_AguaFria_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_AguaFria_prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 2.'
      tags:
      - service-areas
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasAguaFriaProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Anthem_prod/FeatureServer:
    get:
      operationId: getServiceAreasAnthemProdService
      summary: Get ServiceAreas_Anthem_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Anthem_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasAnthemProdLayer
      summary: Get ServiceAreas_Anthem_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Anthem_prod`
        layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Anthem_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasAnthemProd
      summary: Query ServiceAreas_Anthem_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Anthem_prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 1.'
      tags:
      - service-areas
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasAnthemProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Chaparral_prod/FeatureServer:
    get:
      operationId: getServiceAreasChaparralProdService
      summary: Get ServiceAreas_Chaparral_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Chaparral_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasChaparralProdLayer
      summary: Get ServiceAreas_Chaparral_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Chaparral_prod`
        layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Chaparral_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasChaparralProd
      summary: Query ServiceAreas_Chaparral_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Chaparral_prod` layer with a
        SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 1.'
      tags:
      - service-areas
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasChaparralProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Clovis_prod/FeatureServer:
    get:
      operationId: getServiceAreasClovisProdService
      summary: Get ServiceAreas_Clovis_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Clovis_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasClovisProdLayer
      summary: Get ServiceAreas_Clovis_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Clovis_prod`
        layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Clovis_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasClovisProd
      summary: Query ServiceAreas_Clovis_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Clovis_prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 1.'
      tags:
      - service-areas
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasClovisProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Edgewood_prod/FeatureServer:
    get:
      operationId: getServiceAreasEdgewoodProdService
      summary: Get ServiceAreas_Edgewood_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Edgewood_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasEdgewoodProdLayer
      summary: Get ServiceAreas_Edgewood_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Edgewood_prod`
        layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Edgewood_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasEdgewoodProd
      summary: Query ServiceAreas_Edgewood_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Edgewood_prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 1.'
      tags:
      - service-areas
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasEdgewoodProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Havasu_prod/FeatureServer:
    get:
      operationId: getServiceAreasHavasuProdService
      summary: Get ServiceAreas_Havasu_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Havasu_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasHavasuProdLayer
      summary: Get ServiceAreas_Havasu_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Havasu_prod`
        layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Havasu_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasHavasuProd
      summary: Query ServiceAreas_Havasu_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Havasu_prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 1.'
      tags:
      - service-areas
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasHavasuProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Mohave_prod/FeatureServer:
    get:
      operationId: getServiceAreasMohaveProdService
      summary: Get ServiceAreas_Mohave_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Mohave_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasMohaveProdLayer
      summary: Get ServiceAreas_Mohave_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Mohave_prod`
        layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Mohave_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasMohaveProd
      summary: Query ServiceAreas_Mohave_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Mohave_prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 6.'
      tags:
      - service-areas
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasMohaveProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_NorthMohaveValley_prod/FeatureServer:
    get:
      operationId: getServiceAreasNorthMohaveValleyProdService
      summary: Get ServiceAreas_NorthMohaveValley_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_NorthMohaveValley_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasNorthMohaveValleyProdLayer
      summary: Get ServiceAreas_NorthMohaveValley_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_NorthMohaveValley_prod`
        layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_NorthMohaveValley_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasNorthMohaveValleyProd
      summary: Query ServiceAreas_NorthMohaveValley_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_NorthMohaveValley_prod` layer
        with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count
        at harvest time: 5.'
      tags:
      - service-areas
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasNorthMohaveValleyProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_ParadiseValley_prod/FeatureServer:
    get:
      operationId: getServiceAreasParadiseValleyProdService
      summary: Get ServiceAreas_ParadiseValley_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_ParadiseValley_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasParadiseValleyProdLayer
      summary: Get ServiceAreas_ParadiseValley_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_ParadiseValley_prod`
        layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_ParadiseValley_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasParadiseValleyProd
      summary: Query ServiceAreas_ParadiseValley_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_ParadiseValley_prod` layer with
        a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at
        harvest time: 1.'
      tags:
      - service-areas
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasParadiseValleyProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_SunCity_prod/FeatureServer:
    get:
      operationId: getServiceAreasSunCityProdService
      summary: Get ServiceAreas_SunCity_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_SunCity_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasSunCityProdLayer
      summary: Get ServiceAreas_SunCity_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_SunCity_prod`
        layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_SunCity_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasSunCityProd
      summary: Query ServiceAreas_SunCity_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_SunCity_prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 2.'
      tags:
      - service-areas
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasSunCityProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_SunCityWest_prod/FeatureServer:
    get:
      operationId: getServiceAreasSunCityWestProdService
      summary: Get ServiceAreas_SunCityWest_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_SunCityWest_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasSunCityWestProdLayer
      summary: Get ServiceAreas_SunCityWest_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_SunCityWest_prod`
        layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_SunCityWest_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasSunCityWestProd
      summary: Query ServiceAreas_SunCityWest_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_SunCityWest_prod` layer with
        a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at
        harvest time: 1.'
      tags:
      - service-areas
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasSunCityWestProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_ThunderMountain_prod/FeatureServer:
    get:
      operationId: getServiceAreasThunderMountainProdService
      summary: Get ServiceAreas_ThunderMountain_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_ThunderMountain_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasThunderMountainProdLayer
      summary: Get ServiceAreas_ThunderMountain_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_ThunderMountain_prod`
        layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_ThunderMountain_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasThunderMountainProd
      summary: Query ServiceAreas_ThunderMountain_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_ThunderMountain_prod` layer with
        a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at
        harvest time: 2.'
      tags:
      - service-areas
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasThunderMountainProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /ServiceAreas_Tubac_prod/FeatureServer:
    get:
      operationId: getServiceAreasTubacProdService
      summary: Get ServiceAreas_Tubac_prod service metadata
      description: 'EPCOR Water USA service area boundary. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /ServiceAreas_Tubac_prod/FeatureServer/0:
    get:
      operationId: getServiceAreasTubacProdLayer
      summary: Get ServiceAreas_Tubac_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `ServiceAreas_Tubac_prod`
        layer.
      tags:
      - service-areas
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /ServiceAreas_Tubac_prod/FeatureServer/0/query:
    get:
      operationId: queryServiceAreasTubacProd
      summary: Query ServiceAreas_Tubac_prod
      description: 'EPCOR Water USA service area boundary. Query the `ServiceAreas_Tubac_prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 1.'
      tags:
      - service-areas
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ServiceAreasTubacProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /UDF_Events_Prod/FeatureServer:
    get:
      operationId: getUDFEventsProdService
      summary: Get UDF_Events_Prod service metadata
      description: 'Utility disruption / field event records (points and areas). Returns the ArcGIS feature service
        metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /UDF_Events_Prod/FeatureServer/0:
    get:
      operationId: getUDFEventsProdL0Layer
      summary: Get UDF_Events_Prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `UDF_Events_Pt`
        layer.
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /UDF_Events_Prod/FeatureServer/0/query:
    get:
      operationId: queryUDFEventsProdL0
      summary: Query UDF_Events_Pt
      description: 'Utility disruption / field event records (points and areas). Query the `UDF_Events_Pt` layer
        with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count
        at harvest time: 24.'
      tags:
      - water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UDFEventsProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /UDF_Events_Prod/FeatureServer/1:
    get:
      operationId: getUDFEventsProdL1Layer
      summary: Get UDF_Events_Prod layer 1 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `UDF_Events_area`
        layer.
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /UDF_Events_Prod/FeatureServer/1/query:
    get:
      operationId: queryUDFEventsProdL1
      summary: Query UDF_Events_area
      description: 'Utility disruption / field event records (points and areas). Query the `UDF_Events_area` layer
        with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count
        at harvest time: 24.'
      tags:
      - water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UDFEventsProdL1FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_agua_fria_outages_prod/FeatureServer:
    get:
      operationId: getUsaAguaFriaOutagesProdService
      summary: Get usa_agua_fria_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_agua_fria_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaAguaFriaOutagesProdLayer
      summary: Get usa_agua_fria_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_agua_fria_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_agua_fria_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaAguaFriaOutagesProd
      summary: Query usa_agua_fria_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_agua_fria_outages-prod` layer with a
        SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 0.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaAguaFriaOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_anthem_outages_prod/FeatureServer:
    get:
      operationId: getUsaAnthemOutagesProdService
      summary: Get usa_anthem_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_anthem_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaAnthemOutagesProdLayer
      summary: Get usa_anthem_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_anthem_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_anthem_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaAnthemOutagesProd
      summary: Query usa_anthem_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_anthem_outages-prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 0.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaAnthemOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_chaparral_outages_prod/FeatureServer:
    get:
      operationId: getUsaChaparralOutagesProdService
      summary: Get usa_chaparral_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_chaparral_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaChaparralOutagesProdLayer
      summary: Get usa_chaparral_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_chaparral_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_chaparral_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaChaparralOutagesProd
      summary: Query usa_chaparral_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_chaparral_outages-prod` layer with a
        SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 1.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaChaparralOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_clovis_outages_prod/FeatureServer:
    get:
      operationId: getUsaClovisOutagesProdService
      summary: Get usa_clovis_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_clovis_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaClovisOutagesProdLayer
      summary: Get usa_clovis_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_clovis_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_clovis_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaClovisOutagesProd
      summary: Query usa_clovis_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_clovis_outages-prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 0.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaClovisOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_edgewood_outages_prod/FeatureServer:
    get:
      operationId: getUsaEdgewoodOutagesProdService
      summary: Get usa_edgewood_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_edgewood_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaEdgewoodOutagesProdLayer
      summary: Get usa_edgewood_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_edgewood_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_edgewood_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaEdgewoodOutagesProd
      summary: Query usa_edgewood_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_edgewood_outages-prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 0.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaEdgewoodOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_havasu_outages_prod/FeatureServer:
    get:
      operationId: getUsaHavasuOutagesProdService
      summary: Get usa_havasu_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_havasu_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaHavasuOutagesProdLayer
      summary: Get usa_havasu_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_havasu_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_havasu_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaHavasuOutagesProd
      summary: Query usa_havasu_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_havasu_outages-prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 0.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaHavasuOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_mohave_outages_prod/FeatureServer:
    get:
      operationId: getUsaMohaveOutagesProdService
      summary: Get usa_mohave_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_mohave_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaMohaveOutagesProdLayer
      summary: Get usa_mohave_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_mohave_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_mohave_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaMohaveOutagesProd
      summary: Query usa_mohave_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_mohave_outages-prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 0.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaMohaveOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_northmohavevalley_outages_prod/FeatureServer:
    get:
      operationId: getUsaNorthmohavevalleyOutagesProdService
      summary: Get usa_northmohavevalley_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_northmohavevalley_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaNorthmohavevalleyOutagesProdLayer
      summary: Get usa_northmohavevalley_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_northmohavevalley_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_northmohavevalley_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaNorthmohavevalleyOutagesProd
      summary: Query usa_northmohavevalley_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_northmohavevalley_outages-prod` layer
        with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count
        at harvest time: 0.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaNorthmohavevalleyOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_paradisevalley_outages_prod/FeatureServer:
    get:
      operationId: getUsaParadisevalleyOutagesProdService
      summary: Get usa_paradisevalley_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_paradisevalley_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaParadisevalleyOutagesProdLayer
      summary: Get usa_paradisevalley_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_paradisevalley_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_paradisevalley_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaParadisevalleyOutagesProd
      summary: Query usa_paradisevalley_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_paradisevalley_outages-prod` layer with
        a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at
        harvest time: 0.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaParadisevalleyOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_suncity_outages_prod/FeatureServer:
    get:
      operationId: getUsaSuncityOutagesProdService
      summary: Get usa_suncity_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_suncity_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaSuncityOutagesProdLayer
      summary: Get usa_suncity_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_suncity_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_suncity_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaSuncityOutagesProd
      summary: Query usa_suncity_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_suncity_outages-prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 0.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaSuncityOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_suncitywest_outages_prod/FeatureServer:
    get:
      operationId: getUsaSuncitywestOutagesProdService
      summary: Get usa_suncitywest_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_suncitywest_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaSuncitywestOutagesProdLayer
      summary: Get usa_suncitywest_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_suncitywest_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_suncitywest_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaSuncitywestOutagesProd
      summary: Query usa_suncitywest_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_suncitywest_outages-prod` layer with
        a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at
        harvest time: 0.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaSuncitywestOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_thundermountain_outages_prod/FeatureServer:
    get:
      operationId: getUsaThundermountainOutagesProdService
      summary: Get usa_thundermountain_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_thundermountain_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaThundermountainOutagesProdLayer
      summary: Get usa_thundermountain_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_thundermountain_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_thundermountain_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaThundermountainOutagesProd
      summary: Query usa_thundermountain_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_thundermountain_outages-prod` layer with
        a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at
        harvest time: 0.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaThundermountainOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_tubac_outages_prod/FeatureServer:
    get:
      operationId: getUsaTubacOutagesProdService
      summary: Get usa_tubac_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_tubac_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaTubacOutagesProdLayer
      summary: Get usa_tubac_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_tubac_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_tubac_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaTubacOutagesProd
      summary: Query usa_tubac_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_tubac_outages-prod` layer with a SQL
        `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at harvest
        time: 0.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaTubacOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /usa_willowvalley_outages_prod/FeatureServer:
    get:
      operationId: getUsaWillowvalleyOutagesProdService
      summary: Get usa_willowvalley_outages_prod service metadata
      description: 'EPCOR Water USA district outage points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /usa_willowvalley_outages_prod/FeatureServer/0:
    get:
      operationId: getUsaWillowvalleyOutagesProdLayer
      summary: Get usa_willowvalley_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `usa_willowvalley_outages-prod`
        layer.
      tags:
      - us-water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /usa_willowvalley_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryUsaWillowvalleyOutagesProd
      summary: Query usa_willowvalley_outages-prod
      description: 'EPCOR Water USA district outage points. Query the `usa_willowvalley_outages-prod` layer with
        a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at
        harvest time: 0.'
      tags:
      - us-water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/UsaWillowvalleyOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /water_canada_outages_prod/FeatureServer:
    get:
      operationId: getWaterCanadaOutagesProdService
      summary: Get water_canada_outages_prod service metadata
      description: 'Canadian water outage / main break points. Returns the ArcGIS feature service metadata document:
        layers, capabilities (Create,Delete,Query,Update,Editing), maxRecordCount (2000) and spatial reference.'
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /water_canada_outages_prod/FeatureServer/0:
    get:
      operationId: getWaterCanadaOutagesProdLayer
      summary: Get water_canada_outages_prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `water_canada_outages-prod`
        layer.
      tags:
      - water-outages
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /water_canada_outages_prod/FeatureServer/0/query:
    get:
      operationId: queryWaterCanadaOutagesProd
      summary: Query water_canada_outages-prod
      description: 'Canadian water outage / main break points. Query the `water_canada_outages-prod` layer with
        a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature count at
        harvest time: 24.'
      tags:
      - water-outages
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/WaterCanadaOutagesProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /Water_InfrastructureProjects_Prod/FeatureServer:
    get:
      operationId: getWaterInfrastructureProjectsProdService
      summary: Get Water_InfrastructureProjects_Prod service metadata
      description: 'Water infrastructure construction projects (points and areas). Returns the ArcGIS feature service
        metadata document: layers, capabilities (Query), maxRecordCount (2000) and spatial reference.'
      tags:
      - infrastructure
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetadata'
  /Water_InfrastructureProjects_Prod/FeatureServer/0:
    get:
      operationId: getWaterInfrastructureProjectsProdL0Layer
      summary: Get Water_InfrastructureProjects_Prod layer 0 metadata
      description: Field definitions, geometry type (esriGeometryPoint), extent and edit timestamps for the `WaterInfrastructureProjects_pt`
        layer.
      tags:
      - infrastructure
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /Water_InfrastructureProjects_Prod/FeatureServer/0/query:
    get:
      operationId: queryWaterInfrastructureProjectsProdL0
      summary: Query WaterInfrastructureProjects_pt
      description: 'Water infrastructure construction projects (points and areas). Query the `WaterInfrastructureProjects_pt`
        layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature
        count at harvest time: 8.'
      tags:
      - infrastructure
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/WaterInfrastructureProjectsProdL0FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
  /Water_InfrastructureProjects_Prod/FeatureServer/1:
    get:
      operationId: getWaterInfrastructureProjectsProdL1Layer
      summary: Get Water_InfrastructureProjects_Prod layer 1 metadata
      description: Field definitions, geometry type (esriGeometryPolygon), extent and edit timestamps for the `WaterInfrastructureProjects_area`
        layer.
      tags:
      - infrastructure
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerMetadata'
  /Water_InfrastructureProjects_Prod/FeatureServer/1/query:
    get:
      operationId: queryWaterInfrastructureProjectsProdL1
      summary: Query WaterInfrastructureProjects_area
      description: 'Water infrastructure construction projects (points and areas). Query the `WaterInfrastructureProjects_area`
        layer with a SQL `where` clause and optional spatial filter. Anonymous read, no API key. Observed feature
        count at harvest time: 8.'
      tags:
      - infrastructure
      parameters: *id001
      responses:
        '200':
          description: Esri FeatureSet (`f=json`), GeoJSON FeatureCollection (`f=geojson`), or an ArcGIS error envelope
            — these services answer invalid requests with HTTP 200 and an `error` body.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/WaterInfrastructureProjectsProdL1FeatureSet'
                - $ref: '#/components/schemas/GeoJSONFeatureCollection'
                - $ref: '#/components/schemas/EsriError'
components:
  parameters:
    f:
      name: f
      in: query
      required: false
      description: Response format. `json` returns the Esri FeatureSet envelope, `geojson` returns RFC 7946 GeoJSON,
        `pbf` returns protocol buffers, `html` returns the human service directory.
      schema:
        type: string
        enum:
        - json
        - geojson
        - pbf
        - html
        default: html
    where:
      name: where
      in: query
      required: false
      description: SQL-92 WHERE clause applied to the layer attributes. Use `1=1` to select all features.
      schema:
        type: string
      example: 1=1
    outFields:
      name: outFields
      in: query
      required: false
      description: Comma separated list of attribute fields to return, or `*` for all fields.
      schema:
        type: string
      example: '*'
    returnGeometry:
      name: returnGeometry
      in: query
      required: false
      description: Whether the feature geometry is included in the response.
      schema:
        type: boolean
        default: true
    returnCountOnly:
      name: returnCountOnly
      in: query
      required: false
      description: Return only the count of matching features instead of the features themselves.
      schema:
        type: boolean
        default: false
    returnIdsOnly:
      name: returnIdsOnly
      in: query
      required: false
      description: Return only the object IDs of matching features.
      schema:
        type: boolean
        default: false
    orderByFields:
      name: orderByFields
      in: query
      required: false
      description: Comma separated `field ASC|DESC` list used to order the result set.
      schema:
        type: string
    resultOffset:
      name: resultOffset
      in: query
      required: false
      description: Zero based offset into the ordered result set; the cursor half of ArcGIS paging.
      schema:
        type: integer
        minimum: 0
    resultRecordCount:
      name: resultRecordCount
      in: query
      required: false
      description: Maximum number of features to return in this page, capped by the service `maxRecordCount` (2000
        on these services).
      schema:
        type: integer
        minimum: 1
        maximum: 2000
    geometry:
      name: geometry
      in: query
      required: false
      description: Geometry used to spatially filter the query, in the format implied by `geometryType`.
      schema:
        type: string
    geometryType:
      name: geometryType
      in: query
      required: false
      description: Type of the `geometry` filter.
      schema:
        type: string
        enum:
        - esriGeometryPoint
        - esriGeometryMultipoint
        - esriGeometryPolyline
        - esriGeometryPolygon
        - esriGeometryEnvelope
    spatialRel:
      name: spatialRel
      in: query
      required: false
      description: Spatial relationship applied between the `geometry` filter and the layer features.
      schema:
        type: string
        default: esriSpatialRelIntersects
    inSR:
      name: inSR
      in: query
      required: false
      description: Spatial reference (WKID) of the input `geometry`.
      schema:
        type: string
    outSR:
      name: outSR
      in: query
      required: false
      description: Spatial reference (WKID) requested for the returned geometry, for example `4326`.
      schema:
        type: string
  schemas:
    EsriError:
      type: object
      description: ArcGIS REST error envelope. Note that these services return HTTP 200 with this body rather than
        a 4xx status code.
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              description: Esri error code.
            message:
              type: string
              description: Short error message; may be an empty string.
            details:
              type: array
              items:
                type: string
              description: Human readable detail strings.
          required:
          - code
      required:
      - error
      examples:
      - error:
          code: 400
          message: Cannot perform query. Invalid query parameters.
          details:
          - '''where'' parameter is invalid'
    SpatialReference:
      type: object
      properties:
        wkid:
          type: integer
        latestWkid:
          type: integer
    FieldDefinition:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          description: Esri field type, for example `esriFieldTypeString`.
        alias:
          type: string
        sqlType:
          type: string
        length:
          type: integer
    LayerMetadata:
      type: object
      description: 'ArcGIS feature layer metadata document: field definitions, geometry type, extent, capabilities
        and edit timestamps.'
      properties:
        currentVersion:
          type: number
        id:
          type: integer
        name:
          type: string
        type:
          type: string
        geometryType:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
        extent:
          type: object
        editingInfo:
          type: object
        maxRecordCount:
          type: integer
    ServiceMetadata:
      type: object
      description: ArcGIS feature service metadata document.
      properties:
        currentVersion:
          type: number
        serviceItemId:
          type: string
        capabilities:
          type: string
          description: Comma separated capability list advertised by the service. Only `Query` is exercisable anonymously;
            editing capabilities require an ArcGIS token.
        maxRecordCount:
          type: integer
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        layers:
          type: array
          items:
            type: object
    ServiceCatalog:
      type: object
      description: Service directory listing for the EPCOR ArcGIS Online organization folder.
      properties:
        currentVersion:
          type: number
        services:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              url:
                type: string
                format: uri
    GeoJSONFeatureCollection:
      type: object
      description: RFC 7946 FeatureCollection returned when `f=geojson`.
      properties:
        type:
          type: string
          const: FeatureCollection
        properties:
          type: object
          properties:
            exceededTransferLimit:
              type: boolean
        features:
          type: array
          items:
            type: object
    CityBoundaryProdL0Attributes:
      type: object
[...]
